<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>소상공인 가게 지도 - ÜniÜnity</title>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/partner/css/mainpage.css" rel="stylesheet" />
    <link href="/partner/css/retailerPage.css" rel="stylesheet" />
    <title>ÜniÜnity | 소상공인</title>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar static-top mb-2 mt-2">
        <div class="container">
            <a class="navbar-brand" id="navbar"><strong style="font-size: 30px;">ÜniÜnity</strong></a>

            <div class="d-grid gap-2 d-md-block" id="loginNameBox">
                <a class="btn btn-primary" href="#" id="loginStatusBtn">로그인</a>
                <a class="btn btn-primary" href="#" id="signUpBtn">회원가입</a>
            </div>
        </div>
    </nav>
    <main>

    <div class="category mt-3 mb-5">
        <div class="container" id="postKind">
            <div class="row postKindUl">

                <div class="col-lg-2 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-lg fw-medium" id="universityName"></button>
                </div>

                <div class="col-lg-1 d-flex justify-content-center align-items-center">
                    <p id="category-bar">|</p>
                </div>

                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-lg fw-medium" id="main_retailer">소상공인 가게 지도</button>
                </div>

                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-lg fw-medium" id="partner">제휴 지도</button>
                </div>

                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-lg fw-medium" id="news">게시글 더보기</button>
                </div>
            </div>
        </div>
    </div>

        <!-- 소상공인 지도 모아보기 -->
        <div class="container">
            <div class="row">
                <div class="h4 mt-2" id="retailerText">우리대학 인근 소상공인 상가 모아보기</div>
            </div>
            <div class="row mt-2">
                <div class="mt-2" id="guideText"> 지도를 살짝 움직여주세요! 지도 마커를 클릭하면 소상공인 상가 정보를 볼 수 있어요 </div>
            </div>

            <!-- 지도가 들어가는 박스 -->
            <div class="row mt-4 mb-5 d-flex justify-content-center align-items-center" id="mapBox">
                <div>
                    <!-- 지도 -->
                    <div id="map"> </div>
                    <!-- 지도 클릭 시 가게 정보 출력 -->
                    <div class="text-left" id="mapStoreInfo">
                        <div class="storeInfoTextBox" id="">
                            <span class="" id="storeName"></span>
                        </div>
                        <div class="storeInfoTextBox" id="">
                            <span class="storeInfoText">주소 </span>
                            <span class="storeInfoTextInput" id="storeAdr"></span>
                        </div>
                        <div class="storeInfoTextBox" id="">
                            <span class="storeInfoText">업종명 </span>
                            <span class="storeInfoTextInput" id="storeClass"></span>
                        </div>
                        <div class="storeInfoTextBox" id="">
                            <span class="storeInfoText">상세 </span>
                            <span class="storeInfoTextInput" id="storeItem"></span>
                        </div>
                    </div> 
                </div>
            </div>

        </div>

    </main>
    <!-- Footer-->
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                      
                        <li class="list-inline-item"><a href="/contact">Contact</a></li>
                        
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://instagram.com/dev_aerim"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        
    <!-- 카카오 지도 API 사용 -->
    <script type="module" src="/partner/js/ratailerPage.js"></script>
</body>

</html>